<div class="container-fluid" ng-controller="menuAdminCtrl">
  <div class="row">
    <div class="col-md-10">
    	<h1>Opciones</h1>
    	
    	<div>
    		<a href="#/catalog" class="btn btn-default btn-lg"> Catálogos</a>
    		&nbsp;
    		<a href="#/branch" class="btn btn-default btn-lg"> Sucursales</a>
    		&nbsp;
    		<a href="#/technitian" class="btn btn-default btn-lg"> Técnicos</a>
    		&nbsp;
    		<a href="#/tickettype" class="btn btn-default btn-lg"> Tipo Ticket</a>
    	</div>
    </div>
  </div>
</div>
